body {
    /* background: linear-gradient(-210deg, pink 60%, yellow 50%, rgb(184, 241, 255) 50%); */
    margin: 0px;
    padding: 0px;
}

.site-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c0eaf7;
}

.lumen80 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    margin: 29px 40px;
    display: block;
    transition: 0.2s;
    width: 149px;
    font-weight: 600;
}   
.slash {
    color: #d83739;
}
.lumen80 a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}
.lumen80 a:hover {
    color: #d83739;
    opacity: 0.8;
    cursor: pointer;
}


.nav-list{
    display: flex;  
    gap: 24px;
   align-items: center;
}

.nav-bar {
    display: flex;
}
.book-btn {
    background-color: white;
    border: none;
}
.img-error {
    margin-top: 31px;
    margin-right: 30px;
    margin-left: 10px;
}
.book {
    border: 1px solid rgb(201, 42, 42);
    font-size: 15px;
    transition: 0.2s; 
    font-weight: 500;
    color: white;
    padding: 10px 15px;
    background-color: rgb(201, 42, 42);
    font-family: "Montserrat", sans-serif;
     margin-top: 31px;
     margin-left: 10px;
     margin-right: 0;
}
.book:hover {
    background-color: rgb(100, 99, 99);
    border-color: rgb(100, 99, 99);
}
.nav-bar li {
    list-style-type: none;
}
.nav-bar a {
    text-decoration: none;
}
.nav-bar .nav-items a {
    font-family: "Montserrat", sans-serif;
    color: black;  
}
.nav-items:active {
    border-bottom: 2px solid rgb(201, 42, 42);
}
.container {
    display: none;
    cursor: pointer;
    /* padding-top: 20px; */
    padding-right: 20px;
}
.bar1 , .bar2 , .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* main body tag css styling */



.first-section {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    height: 80%;
    justify-content: space-between;
    margin: 45px;
}
.section1 {
    max-width: 100%;
    width: 50%;
    max-height: 100%;
    height: 50%;
    margin-top: 5%;
}
.line0 { 
    color: rgb(194, 31, 31); 
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
}
.heading-lumen {
    font-family: 'Times New Roman', Times;
    font-weight: 500;
    width: 465px;
    font-size: 79px;
    margin: 0;
}
.color {
    color: #9B72CB;
}
.outlast {
    font-family: "Montserrat", sans-serif;
    color: #36383b;
    margin-bottom: 40px;
    width: 550px;
    line-height: 27px;
}
.view-catlogue{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    background-color: #C92A2A;
    border: 2px solid #C92A2A;
    font-size: 15px;
    padding: 17px 32px;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    border-style: none;
}
.view-catlogue:hover {
    background-color: rgb(31, 30, 30);
    border-color: rgb(31, 30, 30);
}
.the-atelier {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    font-size: 15px;
    padding: 17px 32px;
    font-weight: 600;
    color: rgb(36, 35, 35);
    transition: 0.2s;
    border-style: none;
    border: 1px solid black;
    margin-left: 15px;
}
.the-atelier:hover {
    background-color: rgb(31, 30, 30);
    border-color: rgb(31, 30, 30);
    color: white;
}
.section2 {
    /* border: 2px solid black; */
    margin-right: 60px;
    /* background: linear-gradient(to top left, #d9c7f7 50%, white 50%);    */
}
.hero {
   max-width: 100%;
   max-height: 100%;
   width: 40vw;
   height: 90vh;
   /* box-sizing: border-box; */
   margin-left: 100px;
   transition: transform 0.4s ease-in;
   transition-duration: 1s;
}
.hero:hover{
    transform: scale(1.03);
}
.detail {
    position: relative;
    top: -180px;
    left: 30px;
    max-width: 100%;
    max-height: 100%;
    width: 280px;
    height: 260px;
    transition: transform 0.3s ease;
    transition-duration: 1.5s;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
.detail:hover{
    transform: scale(1.1);
    animation: bounce 1s infinite;
}
.second-section {
    text-align: center;
    max-width: 100%;
    width: 45%;
    box-sizing: border-box;
    padding: 29px;
    /* border: 2px solid green; */
    position: relative;
    margin: 80px;
    left: 20%;
}

.comma {
    color: #9B72CB;
    font-size: 6em;
}
.comma-des {
    margin: 0px;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.effort {
    color: #9B72CB;
}
.ast {
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
    color: #A4A8B2;
}
.third-section {
    max-width: 100%;
    max-height: 100%;
}
.features {
    /* border: 2px solid green; */
    margin: 0px;
    padding: 0px;
    margin-bottom: 3%;
}
.x2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.feat {
    width: 100%;
    text-align: start;
    margin-left: 3%;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #CE5558;
    margin-bottom: 0;
    padding-left: 6%;
}
.edit {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-left: 0;
    margin-top: 0px;
    font-size: 3em;
    padding-top: 0;
    width: 100%;
    color: rgb(19, 17, 17);
    
}
.x1 {
    margin-right: 30px;
    height: 0%;
}
.full-cat {
     text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #CE5558;
    font-size: 0.9em;
    transition: 0.2s;
    width: 100%;

}
.full-cat:hover {
    color: #b48ae4;
}
.pic-prices {
    display: flex;
    justify-content: space-around;
}
.fajor {
    width: 30%;
}
.p1 {
    width: 100%;
    transition: transform 0.6s;
}
.p1:hover{
    transform: scale(1.05);
}
.prices {
    display: flex;
    justify-content: space-between;
}
.chair {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.mini {
    font-family: Arial, Helvetica, sans-serif;
    color: #8C97A3;
    font-size: 12px;
    font-weight: 700;
}
.fajor-price {
    margin-top: 30px;
    color: #CE5558;
}
.basalt {
    width: 30%;
}
.p2 {
    width: 100%;
    transition: transform 0.6s;
}
.p2:hover{
    transform: scale(1.05);
}
.prices {
    display: flex;
    justify-content: space-between;
}

.lamp {
    width: 30%;
}
.p3 {
    width: 100%;
    /* height: 85%; */
    transition: transform 0.6s;
}
.p3:hover{
    transform: scale(1.05);
}
.prices {
    display: flex;
    justify-content: space-between;
}

.fourth-section {
    /* border: 2px solid black; */
    margin: 80px 5px;
    padding: 10px;
    height: 90%;
}
.honesty {
    font-family: "Montserrat", sans-serif;
    color: #CE5558;
    font-size: 13px;
    font-weight: 600;
    margin-left: 27px;
}
.f-material {
    font-weight: 200;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 28px;
    margin-top: 22px;
    color: rgb(59, 58, 58);
}
.four-headings {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10% 3%;
    padding: 20px 20px;
}

.roman {
    font-style: italic;
    color: #C6AEE1;
    font-weight: 900;
}

.list1 {
    border: 1px solid rgb(199, 247, 255); 
    padding: 20px;
  
}

.list1:hover{
    background-color: rgb(199, 247, 255);
}

.f3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 1.04em;
    color: #2c2c2e;
}
.f2 {
    font-family: "Montserrat", sans-serif;
    color: #a2a7ac;
    font-size: 15px;
    line-height: 25px;
}

.fifth-section {
    display: flex;
    justify-content: space-around;
}
.atl {
    max-width: 100%;
    width: 43vw;
    padding: 20px;
    margin-left: 20px;
    transition: transform 0.4s ease-in;
    margin-bottom: 8%;
}
.atl:hover {
    transform: scale(1.03);
}
.inside {
    max-width: 100%;
    width: 50%;
    margin-top: 10%;
}
.insidepth {
    color: #d83739;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 3%;
    margin: 0px;
}
.inside-three {
    color: rgb(42, 43, 42);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3.3em;
    padding: 10px 20px;
    margin: 0px;
}
.our {
    color: #989ca1;
    font-family: "Montserret",sans-serif;
    width: 80%;
    margin-left: 20px;
    font-weight: 100;
    font-size: 1.2em;
    line-height: 35px;
    padding: 10px;
}
.o1 {
    margin-top: -19px;
}
.phil {
    text-decoration: none;
    padding: 0px 30px;
    font-family: "Montserret", sans-serif;
    color: #d83739;
    font-weight: 600;
    font-size: 13px;
    transition: 0.4s transform 1s ease-in;
    transition: transform 1s ease-in;
}
.phil:hover {
    color: #9B72CB;
    transform: scaleX(1.5);
}

/* Footer styles in css */

.site-footer {
    display: flex;
    padding: 10px 20px;
    max-width: 100%;
    margin-top: 4%;
}
.nd {
    /* border: 2px solid black; */
    margin-top: 0px;
    width: 30%;
    margin-left: 20px;
    box-sizing: border-box;
}  
.eighty {
    text-decoration: none;
    color: rgb(44, 43, 43);
    font-family: "Montserret", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    width: 90%;
    padding-top: 40px;
    font-weight: 600;
}
.eighty:hover{
    color: #d83739;
}
.since {
    font-family: "Montserret",sans-serif;
    padding: 1px 29px;
    color: #919194;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12%;
}
.f1 {
    list-style-type: none;
}
.q1 {
    text-decoration: none;
    color: #666b70;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
} 
.cat1 {
    margin-left: 9%;
    position: relative;
    bottom: 25px;
}
.cat2 {
    margin-left: 9%;
    position: relative;
    bottom: 25px;
}
.cat3 {
    margin-left: 9%;
    position: relative;
    bottom: 25px;
}
.c1 {
    font-size: 15px;
    font-family: "Montserret", sans-serif;
    font-weight: 500;
    margin-bottom: 12px;
}  

@media (max-width: 795px) {
    body {
        padding: 0px;
        margin: 0px;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;             
        left: 0; 
        height: 80vh;
        font-size: 20px;
        background: white;
        text-align: center;
        transform: translatex(100%);
        transition: transform 0.9s ease-in-out;
        transition-duration: 0.8s;
    }
    .nav-list a { 
        border-bottom: 1px solid rgb(199, 195, 195);
        display: block;
    }
    .nav-list li { 
        width: 100%;
        margin-bottom: 10px;
        align-items: center;
        gap: 0;
    }
    .nav-list.active {
        display: flex;
        transform: translatex(0);
        width: 95%;
        padding: 0;
    }
    .container{
        display: inline-block;
        margin-right: 20px;
        border: 1px solid rgb(213, 252, 255);
        padding-right: 0;
        height: 37px;
        padding: 8px;
        margin-top: 10px;
        transition: 0.4s;
    }
    .container:active{
        background-color: rgb(217, 243, 245);
    }
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3{
        transform: translate(0, -11px) rotate(45deg);
    }
    .book{
        display: none;
    }
    .img-error{
        display: none;
    }
     .first-section{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 130px;
     }
     .section1 {
        width: 100%;
     }
     .line0 {
        width: 40%;
     }
     .heading-lumen {
        font-size: 3em;
        font-family: "Montserret",sans-serif;
        width: 40%;

     }
     .outlast{
        width: 90%;
        line-height: 30px;
     }
    .section2 {
        max-width: 100%;
        width: 100%;
        height: 50%;
        /* background-color: green; */
        margin: 0px;
        padding: 0px;
    }
    .hero {
        width: 100%;
        height: 40%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
    .detail {
        left: -45px;
        margin: 0px;
        padding: 0px;
    }
    .second-section {
        margin-top: -40px;
        margin-bottom: 150px;
        width: 60%;
        margin-left: 160px;
        position: static;
    }
    .comma-des {
        /* background-color: yellow; */
        width: 100%;
        font-size: 1.7em;
        margin-right: 20%;        
        margin-bottom: 5%;        
    }
    .third-section{
        margin: 3%;
    }
    .x2 {
        width: auto;
        height: auto;
        margin-bottom: 50px;
        gap: 0px;
    }
    .feat {
        padding: 0px;
        margin: 0px;
    }
    .edit {
        padding: 0px;
        margin: 0px;
        font-size: 36px;
        color: #36383b;
    }
    .x1 {
        width: auto;
        padding-top: 3%;
        margin: 0px;
    }
    .full-cat{
        align-content: end;

    }
    .pic-prices {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .fajor {
        width: 100%;
    }
    .basalt{
        width: 100%;
    }
    .lamp{
        width: 100%;
    }
    .chair {
        font-size: 30px;
    }
    .fajor-price {
        margin-top: 25px;
    }
    .four-headings{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-left: 0px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .fifth-section {
        /* border: 2px solid green; */
        display: block;
        padding-bottom: 10%;
    }
    .atl {
        margin: 0px;
        margin-top: 2%;
        width: 90%;
        padding: 0px;
        margin-left: 40px;
        box-sizing: border-box;
        margin-right: auto;
        flex-direction: column;
    }
    .inside {
        width: 95%;
        margin-left: 20px;
    }
    .insidepth {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .inside-three{
        font-size: 1.9em;
        font-weight: 300;
    }
    .our {
        margin-left: 10px;
        width: 94%;
        line-height: 26px;
        font-size: 1.2em;
        margin-top: 10px;
    }
    .phil {
        margin-top: 8%;
        margin-right: 1%;
        /* background-color: yellow; */
        font-weight: 700;
        padding-left: 18px;
    }
    .site-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nd {
        width: 100%;
        margin-left: 0px;
    }
}
@media (max-width: 622px) {
    .site-header {
        width: auto;
    }
    .first-section {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 35px;
        gap: 120px;
        padding-top: 60px;
        padding-bottom: 60px;
        height: auto;
        margin-bottom: 0px;
    }
    .view-catlogue,.the-atelier {
        margin-top: 190px;
    }
    .section1 {
        width: auto;
        height: 350px;
    }
    .section2 {
        width: 50%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 10px;
        margin: 0;
        position: relative;
    }
    .hero {
        width: auto;
        /* width: 538.39px; */
        height: auto;
    }
    .detail{
        max-width: 100%;
        width: 43vw;
        height: auto;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .line0 {
        width: auto;
    }
    .heading-lumen{
        width: 70%;
    }
    .pic-prices {
        display: grid;
        grid-template-columns: 1fr;
    }
    .section2 {
        width: auto;
    }
}
@media (max-width: 475px) {
    .second-section {
        margin-left: 90px;
        padding: 0px;
        /* position: relative; */
    }
    .comma {
        font-size: 74px;
    }
    .comma-des {
        margin: 15px 0px;
        padding: 0;
    }
    .ast {
        font-size: 15px;
        font-weight: 500;
    }
    .atl {
        margin-left: 25px;
        padding: 20px
    }
    .x2 {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }
    .x1 {
        padding-bottom: 30px;
    }
    .edit {
        font-size: 37px;
    }
}
@media (max-width: 442px) {
    .eighty {
        display: flex;
        padding-top: 1px;
    }
    .nd {
        width: auto;
    }
}
@media (max-width: 768px) {
    .inside {
        padding-left: 20px;
    }
}
@media (max-width: 425px) {
    .first-section{
        gap: 180px;
        width: auto;
    }
    .heading-lumen {
        width: auto;
    }
    .view-catlogue {
        display: block;
        width: 150px;
        margin: 0;
    }
    .atl {
        margin-left: 0px;
        width: 100%;
    }
    .the-atelier {
        position: relative;
        top: 50px;
        padding: 15px 40px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .section2 {
        margin-top: 20px;
    }
}
@media (max-width: 375px) {
    .detail {
        margin-top: 30px;
        margin-left: 10px;
    }
    .second-section{
        margin-left: 73px;
    }
    .eighty {
        padding-left: 11px;
        padding-right: 6px;
    }
    .since {
        padding-left: 12px;
    }
    .insidepth {
        padding-left: 0px;
    }
    .atl {
        margin-left: 0px;
        width: 100%;
    }
    .four-headings {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 320px) {
    .heading-lumen {
        width: auto;
        font-size: 40px;
    }
    .detail {
        position: relative;
        top: -130px;
        margin-left: 5px;
        padding: 0px;
    }
    .second-section {
        margin-left: 30px;
        width: 80%;
        text-align: center;
    }
    .comma-des{
        width: 100%;
    }
    .effort {
        width: auto;
    }
    .insidepth{
        width: auto;
        padding-left: 0px;
        font-size: 12px;
    }
    .atl {
        width: 100%;
        margin-left: 0px;
    }
    .eighty {
        padding-left: 0px;
    }
    .since {
        padding-left: 0px;
    }
    .inside-three{
        width: auto;
        font-size: 1.4em;
    }
    .site-footer {
        display: flex;
        flex-direction: column;
    }
    .cat1, .cat2, .cat3 {
        margin-left: 0px;
    }
}
@media (max-width: 1024px){
    .inside {
        margin: 0px;
        padding-top: 30px;
    }
}
@media (max-width: 1440px){
    .section2 {
        margin: 0px;
    }
    .hero {
        width: auto;
        padding-right: 30px;
        padding-left: 12px;     
        margin: 0;
        height: auto;
    }
    .detail{
       position: relative;
       left: -90px;
       padding: 30px;
       /* border: 1px solid white; */
    }
    .feat {
        padding-left: 0px;
        margin-left: 0px;
    }
    .features {
        padding-left: 0px;
    }
    .material {
        padding-left: 40px;
    }
    .outlast {
        width: auto;
    }
}
